<main>

   <body>
<app-header></app-header>
       <h1>notification </h1>
<h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Corporis, veritatis? Error adipisci animi perspiciatis excepturi 
    asperiores laudantium. Consequatur nemo in molestias animi deleniti totam 
    aperiam illo impedit perferendis odio minima ratione recusandae aliquid error modi, 
    maiores earum distinctio et? Ea, repellat? Enim dolore maiores autem, et mollitia sunt laboriosam 
    soluta cupiditate ipsa iusto dolor ratione labore commodi a est illum odio, quod, suscipit necessitatibus 
    qui laudantium aliquam aut numquam. Nulla placeat minus quis architecto rem reiciendis voluptas repudiandae 
    rerum quidem eum suscipit eius adipisci consectetur a dicta, enim necessitatibus sit accusantium natus corporis 
    perspiciatis totam ex tenetur? Nam voluptatem iste quo quis. Est minima incidunt perspiciatis in autem tempora aut. 
    Qui velit voluptas nobis magni voluptatem in adipisci ratione quasi vitae, explicabo error aliquam eos cumque labore 
    nisi autem debitis veniam quo sequi dolor, omnis quam distinctio. Quo consectetur, voluptate sit eum sequi fugiat maiores
    saepe at officiis velit hic et numquam quam quas optio quasi accusamus doloribus quaerat ipsam tenetur, tempora nihil atque 
    quos rem? Autem itaque doloribus, optio totam eligendi voluptatibus nesciunt quasi sint similique temporibus provident numquam 
    iusto suscipit accusantium magni inventore. Corrupti cupiditate recusandae voluptas. Sed ad inventore, impedit ullam magnam, 
    ducimus iusto dolorem repellat veniam nisi voluptatum quis a sint ut expedita nulla atque eum dicta quidem, blanditiis quasi
     delectus. Explicabo adipisci nemo nesciunt accusamus. Distinctio eveniet tempore assumenda error! In aperiam ipsum quasi laborum
      enim, inventore mollitia voluptas, fuga quidem, ad fugit architecto nulla velit. Quisquam enim quis voluptatum necessitatibus 
      deserunt tempore sit voluptate facilis incidunt, repellendus accusamus consequuntur vel fugit ad, laborum consequatur impedit 
      similique quibusdam quae. Impedit architecto placeat dolorum consequuntur perspiciatis corrupti vero necessitatibus totam quasi
       dolor, vel est deserunt aut molestias adipisci quidem, natus ipsa exercitationem distinctio neque perferendis. Excepturi pariatur,
        corporis vitae iste mollitia porro. Fugit quod nisi debitis aspernatur excepturi accusamus voluptates ipsum natus, iste nemo 
        architecto quos recusandae commodi dolor delectus voluptatem animi adipisci, esse asperiores quibusdam nesciunt! Ad odio placeat 
        ea quaerat eum, porro nemo tempora, reiciendis iste provident soluta, suscipit doloribus incidunt sunt quis expedita quos ut error.
         Vero commodi fugiat numquam esse inventore necessitatibus, nulla rerum labore iste veniam vitae repellendus! Laboriosam, molestias
          magnam natus maiores iure quas similique ut veritatis deleniti facilis earum laborum illo necessitatibus expedita, culpa omnis
           commodi itaque voluptates rerum amet ad. Labore quas, sed maiores aut amet optio commodi hic nihil minus autem minima aliquid 
           culpa est odit vero qui, veniam ducimus assumenda, perspiciatis eaque dignissimos. Provident dolorem facere aliquam nam modi,
            nihil pariatur sed neque laborum, necessitatibus deleniti? Nostrum, odit similique nihil repellendus quidem dolor, tempore
             fugit laborum suscipit, dolorem ab accusamus autem. Perspiciatis quidem optio delectus deleniti dignissimos incidunt in 
             praesentium? Exercitationem, ex expedita. Soluta, esse tempore cum illo dolores dolor! Distinctio fuga consequuntur ratione
              vel praesentium sint ipsum eligendi corrupti neque sed amet beatae illum itaque rem ut doloribus ea, porro tenetur dolorum
               modi reprehenderit? Dolorem quaerat repudiandae aliquam, voluptate dolor eligendi enim quas? Facere iusto sit sint commodi 
               explicabo, voluptates illo eligendi! Est quasi nemo, deleniti ipsa cum labore facilis excepturi a enim vitae sed distinctio
                pariatur repellat. Laborum quae vero sequi excepturi sunt quis voluptatibus ducimus assumenda, adipisci deleniti ea 
                cupiditate fugiat magnam, officia iste inventore. Nesciunt, magnam amet. Debitis ut, dolore exercitationem asperiores 
                reiciendis consectetur voluptatum accusamus odio velit necessitatibus perferendis, vel sed dicta ipsam dolorum corrupti 
                recusandae temporibus placeat consequatur veniam? Nesciunt, dolores! Nam eius tempore tenetur consequatur eum nulla 
                suscipit distinctio officiis facere ducimus. Molestias asperiores harum distinctio fugiat quos expedita minus vel earum 
                illo atque dolore alias nam neque doloribus provident, omnis cumque ullam suscipit nihil repudiandae temporibus delectus
                 laudantium officiis? Recusandae, nostrum unde alias iure magnam excepturi facere qui atque minima assumenda amet nisi,
                  quae, ipsum molestias accusamus. Labore veniam pariatur beatae asperiores, est quo nobis. Cumque voluptas alias maxime
                   modi sapiente nam officia libero corporis officiis, rerum minus praesentium perspiciatis? Omnis ea, nesciunt animi
                    perspiciatis dolor enim illo aliquam, optio distinctio itaque quod facilis consequuntur autem praesentium nemo voluptate 
                    quis quae ipsum. Labore amet non nisi quibusdam, odio ut eum dolor saepe nemo aut, vitae, repudiandae sit magni e
                    xercitationem facere? Laboriosam nostrum beatae quos, ratione nam quis nemo similique at labore voluptatem. Doloribus 
                    obcaecati tenetur quo quisquam accusamus aspernatur molestiae quos eius saepe eum cum fugiat recusandae voluptatibus
                     atque magnam officia harum accusantium aliquam ratione sed, quasi ex quidem magni. Similique cupiditate voluptatibus 
                     recusandae saepe, nam expedita ipsa, nostrum atque quod tenetur provident? Vitae, voluptas! Ex perferendis nisi fugit,
                      quam ipsa officiis, quo placeat, minus optio mollitia earum. Mollitia deserunt omnis in, laboriosam harum nostrum q
                      uasi ipsa. Nostrum voluptas est placeat vitae magnam ullam et iste tempora praesentium vel eius ab, numquam dolorum f
                      acere harum assumenda deserunt quae nemo cupiditate optio! Repudiandae dolorum obcaecati blanditiis repellendus
                       praesentium laborum quis distinctio sit molestiae modi. Quam porro illum eius laboriosam dolore eaque enim assum
                       enda, iure et, iusto, doloribus culpa! Consectetur, fugiat expedita dolorum rem ut quas provident aliquam consequ
                       atur nulla minus possimus animi facilis voluptatibus voluptate culpa aut. Minima culpa laudantium sequi et suscip
                       it aliquid animi molestiae dolor nostrum iure incidunt laboriosam facilis commodi numquam, excepturi nesciunt ame
                       t aut! Voluptas laudantium rerum temporibus sint aliquid excepturi nemo animi, beatae eum quam enim quis quasi ve
                       l iure nulla maxime numquam distinctio inventore dolor, dolores alias adipisci corrupti, culpa repudiandae. Dolor
                       e labore culpa cum, quas architecto repellat nostrum illum reiciendis delectus sint nemo praesentium ipsum, hic c
                       onsequuntur quidem. Nisi quod reiciendis quam iste odio vero non velit omnis nemo laborum consequuntur asperiores
                        voluptates deserunt, nobis mollitia ab corporis officiis expedita, accusamus perspiciatis rem architecto ullam. 
                        Neque laboriosam ducimus assumenda, repellat veritatis harum voluptatem architecto esse sit impedit unde. Atque 
                        repudiandae error id in harum tempora quia maxime animi, deserunt, blanditiis dicta aspernatur possimus placeat 
                        commodi soluta fugit sed dolor quos facilis laboriosam dignissimos. Nobis quasi ipsum mollitia, earum quos rem r
                        atione voluptates soluta nostrum ad? Voluptatibus expedita quibusdam praesentium facilis. Vitae doloribus fuga n
                        ostrum! Sunt pariatur laboriosam dolores explicabo dolor
                    earum incidunt nam ea aliquam aliquid, qui, est modi. Inventore, veniam alias.</h3>
      


<app-footer></app-footer>
   </body>
</main>
