<div>
    
    <footer class="navbar bg-lightgray row justify-content-center ">
      <div class="navbar ">
        <div class="a ">
          <h6 class="text-uppercase font-weight-bold">
            <a class="navbar-brand" routerLink="/home">
              <img src="./assets/Images/Home.png" alt="Bootstrap" width="30" height="24">
            </a>
          </h6>
        </div>
        <div class="a ">
          <h6 class="text-uppercase font-weight-bold">
            <a class="navbar-brand" routerLink="/search">
              <img src="./assets/Images/Search.png" alt="Bootstrap" width="30" height="24">
            </a>
          </h6>
        </div>
        <div class="a ">
          <h6 class="text-uppercase font-weight-bold">
            <a class="navbar-brand" routerLink="/notification">
              <img src="./assets/Images/Notification.png" alt="Bootstrap" width="30" height="24">
            </a>
          </h6>
        </div>
        <div class="a ">
          <h6 class="text-uppercase font-weight-bold">
            <a class="navbar-brand" routerLink="/acount">
              <img src="./assets/Images/Acount.png" alt="Bootstrap" width="30" height="24">
            </a>
          </h6>
        </div>
      </div>
    </footer>
  </div>
