<html lang="en">

<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body class="text-center">
  
<main class="form-signin w-100 m-auto">
<form  #logform="ngForm" (ngSubmit)="loginUser()">
  <img class="mb-4" src=".\assets\Images\mandala.png" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input type="email" class="form-control" id="Email" placeholder="Enter Your Email" name="emailId" [(ngModel)]="user.emailId">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="Password" placeholder="Enter Your Password" name="password" [(ngModel)]="user.password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
</form>
</main>


  
</body>
</html>


