<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=""> 
    </head>

    <body>
     <div class="grid">   
        <div class="col-12 col-md-1"> </div>
        <div class="col-12 col-md-7"> 
    <div >
        <h1>ADITYA HOLKAR</h1>
        <h3 class="dist3">Junior Data Scientist | Jr Software Developer</h3>
<h4>+91 9049850240 | adiholkar555@gmail.com</h4>
        <h5>https://www.linkedin.com/in/aditya-holkar-058313263/ | Pune,Maharashtra</h5>
        </div>
        </div>
        <div class="col-12 col-md-4">
        <div><img src="assets/Profile-removebg-preview.png" alt="Avatar" style="border-radius: 70%; width:150px; height: 150px; margin-left: 4cm;" > </div>
    </div>
    </div>
        <div class="grid">
            <div class="col-12 col-md-1"> </div>
          <div class="col-12 col-md-5"> 
            <div >
            <h1 class="sum">SUMMARY</h1>
            <hr>
            <p class="para">Committed and goal-oriented computer science graduate
                looking to pursue a career in the software engineering domain.
                Possess excellent knowledge in PYTHON,C,C++ and their
                respective frameworks. Ability to learn things quickly and
                capable of working in a fast-paced and team-driven
                environment. Continuous learner of new technologies,
                strategies, and tools.</p>
           </div>
        
           <div >
            <h1>CERTIFICATIONS</h1>
            <hr>
            <h3 class="para" id="one">Supervised Machine Learning: Regression and
                Classification</h3>
                <p class="dist2">learned to Build machine learning models in Python using
                    popular machine learning libraries NumPy & scikit-learn & also
                    train supervised machine learning models for prediction &
                    binary classification tasks, including linear regression & logistic
                    regression.
                    Click To Know More: https://coursera.org/verify/8C66DH2P7QFE</p>
                    <h3 class="dist">Developers Virtual Experience Program
                        Offered By Accenture</h3>
                        <p class="dist2">This program helps me to develop skills in areas such as
                            architecture, requirements, programming, artificial intelligence,
                            testing, cyber security, and application security.</p>
                  
                </div>
                <div >
                    <h1>PROJECTS</h1>
                    <hr>
                    <h3 class="para" id="one">Simple Angular Project</h3>
                <p class="dist2">Project Using Angular
                    Task List : https://adityaholkar.github.io/task-list (Live)
                    It is like a todo list. You can add or delete tasks and all the tasks
                    stored in your local storage. The languages used to createthis
                    projects are Typescript, HTML5, CSS. This project created to
                    show the CRUD Operations and to show the basicfeatures of
                    Angular Framework ie. Routing, Directives, Components etc.</p>
                </div>

                
               
         </div> 
         <div class="col-12 col-md-1"></div>  
         <div class="col-12 col-md-4">
         <div >
            <h1>TECH STACK</h1>
            <hr>
            <h3 class="para">Python ,C, C++, DSA, Django,
                OOPS,
                Machine Learning, Scikit, Numpy,
         linear regression, logistic regression.
            </h3>
           </div>


           <div >
            <h1>EDUCATION</h1>
            <hr><div class="edu">
            <h2 class="para">Bachelor of Computer
                Science</h2>
                <h3>PDEA's Annasaheb Magar
                    College(University Of Pune)</h3>
                   <p>07/2019 - 2022</p> 
                   <h4 class="edu2">GPA
                    7.7/10</h4>
            
                    <h2>Maharashtra HSC 12th
                        Science</h2>
                        <h3>R.R. SHINDE JR. COLLEGE</h3>
                           <p>07/2017 - 2019</p> 
                           <h4 class="edu2">GPA
                            5.9/10</h4>
                        </div>
                        </div>
        </div>
        <div class="col-12 col-md-1"></div>
    </div>
        
        

        
    </body>


    <div class="grid">
        <div class="col-12 col-md-8"></div>
        <div class="col-12 col-md-4"></div>
    </div>

    <!-- <div class="grid">
        <div class="col-12">I'm a column</div>
    </div> -->
</html>

